article {
  position: relative; 
  border-radius: 8px;
  background-size: cover; 
  background-position: center center; 
  margin: 16px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  padding: 16px;
  height: 300px; 
  overflow: hidden; 
  color: #fff; 
  border: 2px solid #cacaca; 

  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      z-index: 1; 
  }

  .card-header,
  .socials,
  .description {
      position: relative;
      z-index: 2; 
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.editicon {
  color: #cacaca; 
  cursor: pointer;
  font-size: 1.3rem;
  transition: color 0.3s ease, transform 0.3s ease; 

  &:hover {
      color: #7f5454; 
      transform: scale(1.1); 
  }
}

.socials {
  margin-bottom: 12px;
  display: flex;
  gap: 10px;

  a {
      color: #cacaca;
      font-size: 1.3rem;
      text-decoration: none;
      transition: color 0.3s ease; 

      &:hover {
          color: #866b6b; 
      }
  }
}

.description {
  font-size: 0.9rem;
  color: #840d0d; 
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 3; 
  -moz-line-clamp: 3;
  line-clamp: 3;
}

.expandicon {
  cursor: pointer;
  color: #cacaca;
  font-size: 1.0rem;
  margin-left: 8px;
  margin-top: -16px;
  transition: color 0.3s ease, transform 0.3s ease; 

  &:hover {
      color: #756565; 
      transform: scale(1.1); 
  }
}

.name-expand {
  display: flex;
  align-items: center;

  h3 {
      margin-right: 8px; 
  }
}

.editicon {
  display: flex;
  align-items: center;

  #trash {
      margin-left: 10px; 
      color: #f07c80; 
      cursor: pointer;
      transition: color 0.3s ease, transform 0.3s ease; 
      font-size: 0.9em;

      &:hover {
          color: #9d8989; 
          transform: scale(1.1); 
      }
  }

  svg {
      cursor: pointer;
      transition: color 0.3s ease, transform 0.3s ease; 

      &:hover {
          color: #7f5454; 
          transform: scale(1.1); 
      }
  }
}
