// ShowCreators.scss
.show-creator {
  border-radius: 12px;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  // background-color: rgba(255, 255, 255, 0.9); 
  backdrop-filter: blur(15px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  margin: 50px auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
  }

  .close-button:hover {
    color: #007bff;
  }

  .image-container {
    text-align: center;
    margin-bottom: 20px;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 12px;
    }
  }

  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;

    .edit-icon {
      font-size: 18px;
      cursor: pointer;
      color: #007bff;
      transition: color 0.3s ease;
    }

    .edit-icon:hover {
      color: #0056b3;
    }
  }

  .socials {
    margin: 10px 0;

    a {
      margin-right: 15px;
      color: #007bff;
      text-decoration: none;
      transition: text-decoration 0.3s ease;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .footer {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
}